[2017-01-12 16:26] Jorundur opened #1 "Using preview (ReactDnDMultiBackend -> MultiBackend?)"
Hey, thanks for a great package!

I'm having some trouble understanding the preview, it would be great if there was some complete example of how this should be used besides just the one line
`<ReactDnDMultiBackend.Preview generator={this.generatePreview} />`

Where does ReactDnDMultiBackend come from? Shouldn't this be MultiBackend, i.e. the default export?

[2017-01-12 20:35] LouisBrunner commented on #1
Hey, thanks for your interest! :)

I am going to add one soon then!

I am not sure I understand your second point. Are you talking about the package name, the Webpack library name or something else?

[2017-01-12 21:56] Jorundur commented on #1
Sorry, my second point was badly worded (and I'm probably just not understanding something simple at the moment)...

I'm just thinking about `ReactDnDMultiBackend` (and `ReactDnDMultiBackend.Preview`) in the line `<ReactDnDMultiBackend.Preview generator={this.generatePreview} />`.

Where does that `ReactDnDMultiBackend` come from? Is it just from `require`-ing or `import`-ing the package? In which

[2017-01-13 01:43] LouisBrunner commented on #1
I just added an example [here](https://github.com/LouisBrunner/react-dnd-multi-backend/blob/master/examples/index.html).
I don't use `import` or `require` in it, but `Preview` should just be a subset of the exported value, whatever its name. It should be `MultiBackend.Preview` in your case (not a 100% sure, I am not too familiar with node yet).

[2017-01-13 15:20] LouisBrunner commented on #1
So, your issue made me work on this project again, and I finally managed to remove the last quirk of the project (having to force reload DragSources and DropTargets).
[Here is an example up-to-date](https://github.com/LouisBrunner/react-dnd-multi-backend/tree/master/src/examples).
You should be able to make your code work with
[code]

[2017-01-13 16:07] Jorundur commented on #1
Thanks for a quick response, I'll try this!

[2017-01-13 17:02] LouisBrunner commented on #1
Wow, sorry about that (I just saw it in my own app).
I published `2.1.8` which solve the problem (I should have used a more full-fledged app instead of the example to test the last version).

[2017-01-14 13:39] Jorundur commented on #1
Thanks again, no error now 👍

[2017-01-16 23:15] #1 closed

[2017-03-19 16:51] wolfbiter opened #3 "Compatibility with MouseBackEnd?"
Hi,

Neither Touch nor HTML5 backends work with svg, but MouseBackEnd does https://github.com/zyzo/react-dnd-mouse-backend.

Do you have any plans to support arbitrary backends with this project? Would love to use this but currently blocked because I need both HTML5 and Mouse backends

[2017-03-20 11:58] LouisBrunner commented on #3
Hi!

That's weird because I use TouchBackend with SVG and it works perfectly (I can't use HTML5 anymore). Did you enable the mouse mode of the TouchBackend (`DragDropContext(TouchBackend({ enableMouseEvents: true }));`)?

The point of the MultiBackend is the ability to switch between backends dynamically, so as long as we specify how to transition from one backend to another, we could support arbi

[2017-04-04 18:21] wolfbiter commented on #3
Ah, my bad... `DragDropContext(TouchBackend({ enableMouseEvents: true }));` totally worked. RTFM.

Yeah, realistically your `HTML5Backend` and `TouchBackend` cover my use cases (and probably most) so hard to say how much value is added by arbitrary backend. My issue is solved, feel free to leave this open or close it

[2017-04-04 18:55] LouisBrunner commented on #3
No problem. :)

As a matter of fact, I already added the arbitrary backend system. You can get it if you update to `2.4.x`, it works out-of-the-box but you can change the default (HTML5 + Touch) nearly the same way as in my previous comment (see README on the master branch).

I also made a v3 that doesn't include any default so you have to explicitly mention the backends you want (which means Webp

[2017-04-04 18:55] #3 closed

[2017-04-04 18:55] wolfbiter commented on #3
Wow cool! Thanks so much, I'll check it out and give it a whirl

[2017-04-04 18:56] LouisBrunner commented on #3
The current version is `2.3.x` tough, my bad.

[2017-04-10 17:15] jedwards1211 opened #4 "wouldn't switching to touch break mouse events on touchscreen laptops?"
Or do laptops with touch just emulate mouse events?
To be safe, I'd rather have the HTML and touch backends active at the same time...I've had both active together via my https://github.com/jcoreio/react-dnd-multi-backend I hastily wrote a long time ago, and never saw any problems.  Though I don't have a touch laptop to test it on

[2017-04-11 11:11] LouisBrunner commented on #4
Hey!

Wow, I had no idea you already used this name. When I wanted to use both HTML5 and Touch backends, I searched for a "switch backend" but finally settled on "multi backend" without searching first, sorry about that...

I don't own a touch laptop either, but you can mock the behavior by opening Chrome developer tools (probably works on your browser of choice) and toggling the "device toolbar"

[2017-04-11 16:33] jedwards1211 commented on #4
Hmmm, `react-dnd-touch-backend`'s docs say that mouse support is buggy due to difference in event propagation between mouse and touch events.

[2017-04-11 18:41] LouisBrunner commented on #4
You are right, this package doesn't really add much if you are fine with `TouchBackend`. It makes the experience a bit more unified by providing a `Preview` component which is enabled when the current backend doesn't support Drag'n'Drop "ghost" (like the `TouchBackend`).

Because I use SVG, I have been using the `TouchBackend` alone for a year and I never had any problem, so I don't know what they

[2017-04-11 19:01] jedwards1211 commented on #4
Yeah I just started trying TouchBackend alone and haven't seen any problems either, in fact it's better than the HTML5 backend because it doesn't suffer [this issue](https://github.com/react-dnd/react-dnd/issues/735) I just filed.

[2017-04-12 18:23] andersonrocha0 opened #5 "Position error with bootstrap."
Error with small screen sizes and bootstrap.

I made a gif to help.

[GIF](http://imgur.com/a/TV9K8)

[2017-04-13 18:02] andersonrocha0 commented on #5
I'm using the touch to tests. With the mouse the problem no occurs.

[2017-04-17 18:19] LouisBrunner commented on #5
Hello,

Thanks for the feedback! I am aware that some shift can happen when using the Preview in Touch mode, but I have never seen anything that violent.

I will look into fixing it, but could you try to create a small example that demonstrate your problem?

[2017-06-15 12:56] effect305 opened #6 "Dependency is missing"
PureComponent, that is used in `/src/lib/Preview.js`, is appeared only in react 15.3.0 https://github.com/facebook/react/blob/master/CHANGELOG.md#1530-july-29-2016. So I believe you should add dependency to `"react": "^15.3.0"`

[2017-06-22 21:34] LouisBrunner commented on #6
Hey,

While it's true that `PureComponent` was introduced in 15.3.0, I chose to use `"react": "*"` so you could use any version of React that you want.
But you are right, using `"react": ">=15.3.0"` would be more correct.
However, I am wondering if the use of `PureComponent` is actually relevant or just a waste of resource.

[2017-06-22 21:52] #6 closed

[2017-07-17 11:09] maxcc0 opened #7 "Error in IE: Object.assign is not a function"
Object.assign is not a function

[2017-07-17 11:10] maxcc0 commented on #7
Object.assign is not a function

[2017-07-17 14:00] maxcc0 opened #8 "TypeError: Super expression must either be null or a function, not undefined"
I get this error on the require statement:

[code]

[2017-07-28 12:03] Strori opened #9 "Switch HTML5Backend <->TouchBackend not work."
Hello.

Switch HTML5Backend -> TouchBackend works great, but after that doesn't want to switch back to HTML5Backend.
Use :
const HTML5_TO_TOUCH_TO_HTML5 = {
  backends: [
    {
      backend: HTML5Backend,
      transition: HTML5DragTransition,
    },
    {
      backend: TouchBackend({ enableMouseEvents: true }),
      transition: TouchTransition,
    }
  ]
};

[2017-07-29 21:34] LouisBrunner commented on #9
Hey @Strori,

I noticed this before, it seems to be a browser limitation.

If you monitor the events you can see that once the browser received a `Touch` event, it never generates `Drag` event anymore.

Here is an example on Chrome:

<img width="495" alt="browserevents" src="https://user-images.githubusercontent.com/7120871/28748303-2440a4e2-74ac-11e7-9eeb-72494962d739.png">

After `touchstart` wa

[2017-07-29 21:59] LouisBrunner commented on #8
Hi @maxcc0,

Could you give me a bit more context about how you got this error? For example your usage of `Preview`, etc.

Thanks,

[2017-07-29 22:04] LouisBrunner commented on #7
Hi @maxcc0,

At the moment, IE is not supported (I didn't test for it, so I don't know what need to be changed).

However, you can find a fork [here](https://github.com/iFixit/react-dnd-multi-backend) that supports more browsers, albeit with an older version.

Moreover, could you give more context from where you got the error? A stacktrace and usage would be nice.

[2017-07-31 06:22] Strori commented on #9
Thank you. I will try your recommendation.

[2017-08-01 13:18] Strori commented on #9
Hello, after your recommendation have new error "Uncaught RangeError: Maximum call stack size exceeded." on last line this function
 this.backendSwitcher = function (event) {
    var oldBackend = _this.current;

    var i = 0;
    var _iteratorNormalCompletion3 = true;
    var _didIteratorError3 = false;
    var _iteratorError3 = undefined;

    try {
      for (var _iterator3 = _this.backends[Sym

[2017-08-01 15:05] Strori commented on #9
Sorry, my mist. All works.

[2017-08-20 22:02] haf opened #10 "Browser warning on evt.preventDefault()"
Getting

[code]

Here:

<img width="538" alt="screen shot 2017-08-21 at 00 01 36" src="https://user-images.githubusercontent.com/193115/29498826-f27e763c-8603-11e7-8337-8d95366fa9ae.png">

With code from https://github.com/react-dnd/react-dnd/blob/master/examples/04%20Sortable/Cancel%20on%20Drop%20Outside/Container.js and this project enabled, like so

[code]

[2017-08-27 20:19] renchap opened #11 "Old Android versions does not support modern creating custom events syntax"
On "old" Android devices (<= 5.0 it seems), https://github.com/LouisBrunner/react-dnd-multi-backend/blob/master/src/lib/MultiBackend.js#L112 fails with a `Type Error (Illegal constructor)` exception.

Old browsers does not accept the modern syntax to create custom events. A workaround is provided on MDN: https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events#The_o

[2017-08-28 11:00] LouisBrunner commented on #10
Hi @haf,

Thank you for the report. I had already noticed this warning but didn't think I could do anything about it.

However after a bit of research, the problem comes from the event creation after the backend was switched, so it should happen only once (for one Drag'n'Drop event).

Turnouts this is linked with #11, I'll see if I can avoid doing this kind of dirty hack.

[2017-08-28 11:10] LouisBrunner commented on #11
Hi @renchap,

Thank you for the report. This problem happen on backend change. When a need to switch is detected, the `MultiBackend` will change the internal backend and redispatch the event that triggered this change to the new backend. However, events can only be dispatched once, so we need to clone it. `event.constructor(event.type, event)` is doing just that, however it's not copying correctly

[2017-08-28 14:42] LouisBrunner commented on #11
I fixed it in cd75242bdd48957b0c19a00d6927a9b57def6e80, you can already test it if you want (I will be releasing a patch version soon).

[2017-08-28 15:09] renchap commented on #11
Thanks, I will try it. I do not have an old Android device to test it, but I will roll this version in production and see if Sentry reports any new occurrences.

[2017-08-28 15:48] LouisBrunner commented on #11
The fix was released in `2.3.8` and `3.0.3`.
Can you confirm it work when you have some time? Thanks!

[2017-08-28 15:56] LouisBrunner commented on #10
After some investigation, I can't seem to make the warning disappear. The `preventDefault` call happens in [react-dnd-touch-backend](https://github.com/yahoo/react-dnd-touch-backend) in the function that handles `touchmove` events. However if tested alone, `react-dnd-touch-backend` doesn't produce the warning.

So something is going wrong in the event creation in [MultiBackend.js](https://github.c

[2017-08-29 06:39] haf commented on #10
Thank you for investigating. I'll let you know if we find the problem ourselves, in this issue.

[2017-09-18 15:20] renchap commented on #11
I did not see this error in the wild in the last 2 weeks, so it seems fixed. Thanks!

[2017-09-18 15:20] #11 closed

[2017-10-02 19:10] LouisBrunner commented on #7
Fixed by #12

[2017-10-02 19:10] #7 closed

[2017-10-02 19:13] #4 closed

[2017-10-02 19:21] LouisBrunner commented on #8
With the recent changes (notably #12), this may be fixed. If it isn't, please add more information on your browser, usage, example code, etc. Thanks!

[2017-10-02 19:21] #8 closed

[2017-10-03 11:29] cmosgh opened #13 "Not compiled examples"
Hi there. I am struggling with using this with a custom preview component. But for some reason in my case after drag start the preview just gets dropped. Then I can pick it up and finish the drag.

[dnd.mov.zip](https://github.com/LouisBrunner/react-dnd-multi-backend/files/1352049/dnd.mov.zip)

Can you please post the examples in full too?

[2017-10-03 12:12] LouisBrunner commented on #13
I am going to look at your issue.

Concerning the source of the examples, they can be found [here](https://github.com/LouisBrunner/react-dnd-multi-backend/tree/master/src/examples).

[2017-10-03 12:16] cmosgh commented on #13
Hmm, odd I didn't see that folder.

Thank you very much.

[2017-10-03 12:16] #13 closed

[2017-10-03 12:57] cmosgh commented on #13
Yeap it seems that the issue in my vid was the fact that the dragSource is also a dropTarget

But I don't see another way of doing `hover effects` for placeholders when I am grabbing a source.

Do you have any ideas?

[2017-10-03 21:37] LouisBrunner commented on #13
Mmmh... the drag does stop, but only the second time it seems. I remember having this problem, but it may come from the `react-dnd-touch-backend` itself. Do you have some code example I could try? I have a few components that are both DragSource and DropTarget but I haven't seen this problem in a while.

What do you mean by hover effects? Switching around the two blocks when hovering one over the

[2017-10-04 07:02] cmosgh commented on #13
The issue was that the placeholder object was rerendered. Solved it. Thank you

[2017-12-05 19:45] FruitAndAShape opened #14 "Is there an unminimized version of the example?"

[2017-12-05 19:49] FruitAndAShape commented on #14
I believe I have found it!

[2017-12-05 19:49] #14 closed

[2017-12-05 21:23] FruitAndAShape opened #15 "Element type is invalid when creating DragDropContext"
I have the following references...

[code]

And then this code...

[code]

This results in the following warning and error...

The null mentioned in the warning seems to be a result of the following generated code...

`React.createElement(AppDnD, null)`

Do you have any idea why I'm getting these issues?

[2017-12-06 12:53] FruitAndAShape commented on #15
DragDropContext wants a component rather than an instance.

[2017-12-06 12:53] #15 closed

[2017-12-11 20:20] AubreyHewes opened #16 "Can not import MultiBackend, { Preview } from 'react-dnd-multi-backend';"
Following the docs/examples..
[code]

fails with "Cannot have two MultiBackends at the same time."

`package.json`
[code]

Importing separately removes the error...

[code]

[2017-12-11 20:36] AubreyHewes opened #17 "this.props.generator is not a function"
I have a component (react class) and would like it's DnD to be html5 and touch,  I tried to follow the [example](https://github.com/LouisBrunner/react-dnd-multi-backend/tree/0ebdec7b145e786b32d1fc0a3b3ec6af30d08a68/src/examples) I just can not get the touch preview to work (just fatals). I use the following in the main component render (to allow a touch preview?):

[code]

the class method `genera

[2017-12-11 22:31] LouisBrunner commented on #16
Hi @AubreyHewes,

If you look in the examples, you can see that [App.js](https://github.com/LouisBrunner/react-dnd-multi-backend/blob/master/src/examples/App.js) uses the same import as you stated, and it works perfectly. Thus, I think your problem may come from somewhere else. Could you paste a full example that displays this issue? (if possible in a repository ready to be built?)

Thanks!

[2017-12-11 22:43] LouisBrunner commented on #17
Hi @AubreyHewes,

I tried your snippet to be sure and it works. So your issue must come from the rest of your code, would it be possible for you to provide a full example, including build system, package.json, etc?

Thanks!

[2017-12-12 18:53] renak opened #18 "Scroll while dragging"
This package is great! Do you know of a scroll library that works well with this package, for both the html5-backend and the touch-backend? When the user is dragging an item and they reach the bottom edge of the screen, I want the parent container to scroll so they can drag the item to the bottom of the container.

[2017-12-13 20:33] renak commented on #18
Never mind. Answered my own question. I've found that react-dnd-scrollzone works great.
https://github.com/azuqua/react-dnd-scrollzone

[2017-12-13 20:33] #18 closed

[2017-12-14 12:22] Tsourdox opened #19 "Default drag layer present when { preview: true } on HTML5Backend"
**Hello, thx for this cool library!**
I need to make a custom preview/drag-layer for both Touch and HTML5 backends.

**I'm currently using this setup:**
[code]

**Problem**
The title probably explains it but both the default drag layer and the generated drag layer is visible when dragging with a mouse.

Is that a bug or a feature and any ideas on how to not show the default drag layer? ^^

[2017-12-14 13:34] Tsourdox commented on #19
Found the answer here.

https://github.com/react-dnd/react-dnd/blob/master/examples/02%20Drag%20Around/Custom%20Drag%20Layer/DraggableBox.js

[code]

[2017-12-14 13:34] #19 closed

[2017-12-15 00:39] danmckeon opened #20 "Error: Cannot read property 'unshift' of null"
I'm using `react-dnd-multi-backend` in an Electron app and just received this error from a user on a Windows Surface tablet:

[code]

Error is raised at this line of `react-dnd-touch-backend`:

[code]

Here is my implementation of `react-dnd-multi-backend`:

[code]

I'm wondering if `react-dnd-multi-backend` may be in `html5backend` mode and then switch to touch and `this.moveStartSourceIds` is `u

[2017-12-21 02:56] engPabloMartinez commented on #20
I'm having the same issue

[2017-12-28 08:57] cormacrelf opened #21 "Can't use without importing react-dnd and requiring react as a peer dependency"
Hi,

This is some great code, and I'd like to make it work with a new front-end to `dnd-core` that I wrote for Angular. That project is at https://cormacrelf.github.io/angular-skyhook/ & https://github.com/cormacrelf/angular-skyhook/. Edit: it's called `angular-skyhook` now.

Backends in `react-dnd` are not supposed to care about what code provides them with DOM elements to latch onto, and this is

[2017-12-28 11:36] LouisBrunner commented on #21
Hi,

That's a great idea! I will look into that soon.
Depending on the difficulty, MultiBackend could provide helpers for other frontends (maybe based on pull-requests?).

[2017-12-28 11:42] LouisBrunner commented on #20
Hi,

Thanks for the report (with plenty of context)!
I had this issue in the past when the switch wasn't done properly, can you check that you use the last version? (pretty sure you do, but just to be 100% sure)
Anyway, I'll look into it, if you could provide a standalone example that displays the same problem, that would be great (even if it's a small Electron app).

@engPabloMartinez is the issu

[2017-12-28 11:42] cormacrelf commented on #21
I don’t think there are any other frontends, apart from the time someone renamed it “preact-dnd” and called it a day. But it seems fine in principle. It could work as a Lerna monorepo. That’s how my repo works, and it’ll be really good once Yarn merges a couple of PRs/RFCs for workspaces.

I will have a look into how the React helper works and see if I can make an Angular version.

[2017-12-28 18:08] engPabloMartinez commented on #20
Hi Louis, I was testing in a pure React environment and I came across this error. I used the last version, thanks

[2017-12-28 21:24] danmckeon commented on #20
Hi @LouisBrunner I haven't actually been able to replicate the issue myself, but my alpha user has mostly not run into any issues. It was just during a single session where the issue at the top of this thread arose, which in turn created a number of other issues specific to our app. We also used the latest version of `react-dnd-multi-backend`.

[2017-12-30 18:06] LouisBrunner commented on #21
Thank you for the Lerna suggestion, I didn't know that was the name of the concept/tool.

I just refactored this repository, it is now split in 3 packages:
 - `react-dnd-multi-backend` (same as before)
 - `react-dnd-preview` (just the preview component)
 - `dnd-multi-backend` (the agnostic backend switcher)

You can now use `dnd-multi-backend` instead of `react-dnd-multi-backend` and you won't nee

[2018-01-01 03:59] cormacrelf commented on #21
Great! Thanks for that! I'll close when I've tested it properly. Expect a PR soon for the angular package.

[2018-01-03 04:12] cormacrelf commented on #9
The following works so well it could be the default. It would support browsers that do touch AND mouse (like Chrome/FF on Windows 10 with touch). And it kills the requirement for the buggy `{enableMouseEvents: true}` on the touch backend, which just causes issues left right and center [apparently](https://github.com/yahoo/react-dnd-touch-backend/issues/88). I haven't tested this everywhere, but it

[2018-01-03 12:24] #21 closed

[2018-01-03 12:34] cormacrelf commented on #9
Oh, incidentally, I think the reason HTM5DragTransition doesn’t do anything is that the h5 backend is responsible for adding the “draggable” attribute to elements, and once you swap it out, those attributes are removed, and there aren’t any draggable events to fire dragstart events on. So the transition will never cause multi backend to switch. At least I think so.

[2018-01-05 18:30] AubreyHewes commented on #17
@LouisBrunner sorry for the delay. yeah was elsewhere in my code! Thanks!

[2018-01-05 18:30] #17 closed

[2018-01-05 18:34] AubreyHewes commented on #16
@LouisBrunner Sorry for the delay. This now works as expected.. :sheep:

[2018-01-05 18:34] #16 closed

[2018-01-07 11:49] LouisBrunner commented on #9
@cormacrelf,

You are right, this makes way more sense!
I just pushed v3.1.0 (available on the `next` tag on npm) which includes your suggestion (transition + HTML5toTouch).

[2018-01-25 22:44] renak commented on #9
Thanks for your 3.1.0 change. It works pretty well! Do you know when it will be officially released? The import statement in react-dnd-multi-backend package will need to be updated as well.

I was having the issue @cormacrelf described, where the html5 backend was setting the "draggable" attribute to false right before the multibackend switcher swapped backends. Then once switched to touch-backend

[2018-01-27 09:35] LouisBrunner commented on #9
Hi @renak,
I was waiting for some more feedback, so I guess I will release it now.

So you are saying that even with @cormacrelf improvement, you are still running into issues?

[2018-01-29 18:25] renak commented on #9
The change for v3.1.0 covers the issue originally posted in this thread - adding a transition to switch from touch backend to html5 backend. The fix for this seems to work great.

@cormacrelf mentioned a second issue, separate from the first issue, which I was experiencing. I was able to get around that issue simply by listing the touch-backend first and the html5 backend second in the backends ar

[2018-01-30 19:42] davidschwegler commented on #9
-  After this change, why does @cormacrelf not need the enableMouseEvents while @renak still does?
- @renak which Android browsers were you experiencing the issue where swapping the TouchTransition first fixed it?

[2018-01-30 22:25] cormacrelf commented on #9
@davidschwegler I can’t be the only one thinking that `enableMouseEvents` is the real problem for @renak. Androids and iPhones do not care about `draggable` attributes.

[2018-01-30 23:22] renak commented on #9
I never really had any issues testing on the iOS devices. I'm seeing different behavior happening between 2 different Android phones I'm testing on (both Android 7):

- Nexus 6 with Chrome 63
- Samsung Galaxy S6 with Chrome 55

With **enableMouseEvents true** and **Html5 backend first**, draggable attribute was false. The Samsung was ignoring the draggable attribute and allowed the user to drag. T

[2018-02-04 12:28] LouisBrunner commented on #9
Thanks for the detailed summary!

As we don't know what is causing these issues yet, I would recommend that you maintain your own `HTML5toTouch` for the time being. Once the problem is sorted, we'll adapt it to match the widest audience possible.

I completely missed `MouseTransition`, I'll include it at once.

[2018-02-05 23:34] renak commented on #9
I can `npm install` v3.1.1 of `react-dnd-multi-backend`, but it does not have your code changes for some reason.

[2018-02-10 13:22] LouisBrunner commented on #9
You're right, I must have an issue in my build/publish process. I republished `v.3.1.2`.

[2018-06-06 17:23] gnuletik opened #22 "Crash with react-dnd >= 4.00"
The preview component fail with the following error:

[code]

[2018-06-06 17:38] gnuletik opened #23 "Preview not working"
The preview isn't displayed with react-dnd `^3.0.0` and react-dnd-multi-backend `^3.1.2` using the example provide in the repo.

Test repository: https://github.com/gnuletik/react-dnd-multi-backend-demo
Hosted demo: https://pensive-mcclintock-1ca257.netlify.com/

If you try to move an element with touch events, you realize that nothing is shown.
Did I miss something ?

[2018-06-08 10:27] iPaul95 commented on #23
It doesn't work for touch events even on the rest repository, and when i tried to build my own preview, if i drag outside of target area the item goes back to it's place and becomes undraggable

[2018-06-08 15:02] gnuletik commented on #23
It seems to be working on my side.

Firefox "normal" mode
![peek 08-06-2018 17-00](https://user-images.githubusercontent.com/9059840/41165265-78a70584-6b3d-11e8-8ad7-a9798dffd19d.gif)

Firefox touch emulation mode
![peek 08-06-2018 17-02](https://user-images.githubusercontent.com/9059840/41165264-787b71f8-6b3d-11e8-8911-1147109fdf1a.gif)

As you can see, only the preview doesn't work with the touc

[2018-06-17 21:00] LouisBrunner commented on #22
Hey @gnuletik,

Thanks for the bug report! I pushed a new version (3.1.4) with the `next` tag on npm which should fix this issue.

Can you confirm that it works for you when you have some time?

[2018-06-17 21:02] LouisBrunner commented on #23
Hi @gnuletik,

I believe this is a duplicate with #22 (the code that check if the preview should be shown fail and therefore the preview is never shown). Try the new version (`next` tag on npm) and re-open this issue if it's still happening, thanks!

[2018-06-28 16:53] cormacrelf commented on #21
@LouisBrunner I maintain `angular-skyhook-multi-backend` now. It's over at https://github.com/cormacrelf/angular-skyhook as part of a monorepo, and it's best kept there I think. You won't have to manage the ridiculous time-sinking process that is packaging Angular libraries. It is in action driving the examples site.

[2018-06-29 21:49] LouisBrunner commented on #21
Great! I updated the documentation on the `next` branch, it will get merged once I get feedback on some React bug fixes.

[2018-07-09 04:47] dawnmist commented on #23
Lack of preview is still occurring for me with 3.1.4. There is no Preview drawn on iOS Safari, Chrome "responsive" mode, and Firefox in touch emulation mode.

[2018-07-09 21:10] LouisBrunner commented on #23
Thanks @dawnmist for the feedback, I can reproduce it on Firefox macOS. However on Chrome macOS  (67.0.3396.99), it works as expected, what is the platform you are testing on?

[2018-07-09 21:21] LouisBrunner commented on #23
Note that for me it does work in Firefox touch emulation mode, but doesn't in just "responsive mode".

[2018-07-09 23:29] dawnmist commented on #23
I was working on Centos 7 (linux).

I ended up moving to using the DragLayer instructions from react-dnd directly yesterday (as I needed to get things working for a demo this week), and noticed that the react-dnd instructions have the preview drawn inside a full-screen div. That div seems to be missing from the your Preview component, which might explain why the Preview isn't being mounted/shown.

[2018-07-10 18:08] LouisBrunner commented on #23
So I finally managed to reproduce the issue, I think my local repository has some problems with `package-lock.json`.

I think you have the names right, it is just that Firefox makes the difference between  "responsive mode" and "touch emulation".

I'll take a look tonight and try to find a fix.

[2018-07-10 22:21] LouisBrunner commented on #23
I think that should now be fixed on `next`.

The problem came from that the fact that `react-dnd` now uses a unique `React.createContext` to pass their `dragDropManager`. This means that projects need to use `peerDependencies` for `react-dnd` in order to share the exact same dependency and have corresponding `Producer`/`Consumer`.

[2018-07-10 22:21] #23 closed

[2018-07-10 22:22] LouisBrunner commented on #22
As described in #23, the problem should not be fixed for good.

[2018-07-10 22:22] #22 closed

[2018-07-11 07:57] theTechie commented on #23
@LouisBrunner - having React 16 as a peerDepedency makes it very strict and makes this library in-compatible with older versions of react. Is that right ?

I am using `react@15.6.2` and `react-dnd-multi-backend@3.1.2` and since `dnd-preview` used an older version of `react` which in-turn was still accessing `propTypes` from `react` (but not from `prop-types` library), i am getting deprecation warn

[2018-07-11 09:04] LouisBrunner commented on #23
@theTechie I can try to make it more generic, as it was before. I wanted to make it work with the latest `react-dnd`, so that's why I forced version.

[2018-07-11 09:35] theTechie commented on #23
That would be awesome @LouisBrunner ! 👍

I am currently stuck with whatever version i have, unable to upgrade / downgrade to make it work.

I am moving away from using this package for now. Please shoutout when you have a new release which makes it backward compatible.

Thanks !

[2018-07-11 19:53] LouisBrunner commented on #23
Note if you use `3.1.0` (`latest` tag) with `react-dnd` < `5.0`, you should be fine.

[2018-07-11 20:05] LouisBrunner commented on #23
The `next` tag (version `3.1.8`) now uses a wildcard for `react` related dependencies, as before.

[2018-07-20 09:42] stusklinar opened #24 "SemVer on React-Dnd-Preview introduces breaking changes"
Using the SemVer on the dependencies introduces a newer version of React-dnd-preview which uses a significantly higher version of react-dnd which doesn't have support react-15 as it uses the new React 16+ Context APIs.

Thus breaking anything not upgraded.

[2018-07-21 13:07] LouisBrunner commented on #24
Hi @stusklinar,

A few of the last versions (react-dnd-multi-backend and react-dnd-review from 3.1.5 to 3.1.7 and dnd-multi-backend 3.1.5 to 3.1.6) were experimental versions used to debug issues other users had. You are right, they should have used prerelease tag, my bad!

However the latest 3.1.8 (3.1.7 for dnd-multi-backend) allows any version of react or react-dnd.

Can you tell me which versi

[2018-08-13 14:49] monsieurnebo opened #25 "Can't resolve "react-dnd-touch-backend""
Hello,

I just updated all my dependencies, and I'm encountering the following error:

# Context
- "react-dnd": "5.0.0",
- "react-dnd-html5-backend": "5.0.1",
- "react-dnd-multi-backend": "3.1.2 and 3.1.8"

# Error
[code]

Any idea?

[2018-08-13 19:14] LouisBrunner commented on #25
Hi @monsieurnebo,

What does your `package.json` look like? Do you get any warning when doing `npm install`?

My guess is that you get this problem because you use `HTML5toTouch`, which depends both on `react-dnd-html5-backend` and on `react-dnd-touch-backend`, but you don't specify the former as a dependency.

If that's not the case, could you please reply with a bit more information (`package.js

[2018-08-14 13:42] monsieurnebo commented on #25
Hi @LouisBrunner ,

There is no error during `npm install`.

My `package.json` is pretty huge (as the project), but the last working versions of the related packages are the following:

[code]

Once up-to-date, I'm encountering the described error.

`HTML5toTouch` is called once, via the following code line:
[code]

That still seems to be the right way to do it according to the `@next` [documentat

[2018-08-15 21:06] LouisBrunner commented on #25
I have created a project from scratch with the following `package.json`:

[code]

When doing `npm install` I get the following warning:

`npm WARN react-dnd-multi-backend@3.1.8 requires a peer of react-dnd-touch-backend@* but none is installed. You must install peer dependencies yourself.`

When importing `HTML5toTouch`, I get the same error as you, which makes sense as `react-dnd-touch-backend` i

[2018-09-10 11:04] tom-s commented on #10
Hi i have the same issue and it seems to be more than just a warning as it prevents me from dragging.
It seems to happen quite randomly and I can't figure out how to properly reproduce the issue / fix it. Have you found something @haf ?

[2018-09-10 15:09] haf commented on #10
@tom-s You probably have another issue, since it prevents you from dragging. However, it should be said that this repo's dependencies have moved from v2.x to v5.x since this issue was created and I haven't done the upgrade yet; so you're likely experiencing a different code path than I.

[2018-09-10 19:26] LouisBrunner commented on #10
@tom-s As @haf said it seems like another issue, could you post a small example (or create another issue) so we can help?

@haf The latest version can technically be used with any version of `react` or `react-dnd` (the requirements on `v5` were an experiment to make the package work with the latest dependencies and should have never been released).

[2018-09-11 12:30] haf commented on #10
@LouisBrunner Do you think I can just upgrade without breaking my code then? I've been trying to find docs for the three major versions, but should I take your comment to mean, there's no major API changes to speak of?

[2018-09-11 18:04] LouisBrunner commented on #10
@haf The only noticeable change should be your dependencies: `react`, `react-dom`, `react-dnd`, `react-dnd-html5-backend` and `react-dnd-touch-backend` are now `peerDependencies` so you'll need to add them in your project `dependencies` in case you don't have them ([see here](https://github.com/LouisBrunner/dnd-multi-backend/tree/next/packages/react-dnd-multi-backend#migrating-from-312)).

Some ch

[2018-10-19 22:31] matjkel opened #26 "Will this work with older versions of React?"
*Trying on a project using React `v0.14.7`.*

Does `react-dnd-multi-backend` require most recent versions of React?

[2018-10-22 21:49] LouisBrunner commented on #26
Hi @matjkel,
The short answer is that I am not sure. I don't think I use any features from the newer versions of React so it should be fine but I can't guarantee it.
Did you try using it and did it break?

[2018-10-23 17:51] matjkel commented on #26
Hi @LouisBrunner! It's been tricky to debug as I am by no means a React expert, but I've been running into the following error:
`Uncaught TypeError: Super expression must either be null or a function, not undefined`

Which is weird, because I don't have any build (`gulp`) errors...

So, it could be some import or require keeps coming up `undefined` , but I'm sort of stuck atm :/

Looking at the st

[2018-10-25 08:40] LouisBrunner commented on #26
Do you have a small example you could give me so I can test/reproduce it easily?
Depending on the difficulty we could easily add support for it!

[2018-12-07 05:54] willnix86 opened #27 "Breaks when I click anywhere other than a draggable object"
So I've set everything up and it works wonderful when I click and drag and object (on computer and on touch screen), but if I click anywhere else on the screen (in the DragDropContext), something happens that stops me from being able to click on anything else - I have to refresh the page to get it all working again.

You can see the app here if it helps: https://github.com/willnix86/english-rules

[2018-12-07 15:41] willnix86 commented on #27
Update, if I set up my pipeline like this, everything works fine...I just get errors in the console (see below HTML5toTouch). Thoughts?

const HTML5toTouch = {
    backends: [
        {
            backend: HTML5Backend,
            transition: MouseTransition
        },
        {
            backend: TouchBackend({ enableMouseEvents: false }),
            preview: true,
            transition: To

[2018-12-09 18:10] LouisBrunner commented on #27
Hi @willnix86,

Thanks for the bug report! This does look serious, I'll take a look and get back to you as soon as possible.

[2018-12-09 18:30] LouisBrunner commented on #27
This call stack issue is created by having the `HTML5Backend` twice in your pipeline with the same transition. This means that when the switching happens, the multi-backend will switch from one to the other without stopping.

However, when disabling the second one, your HTML5 DnD stopped working. Strange...

[2018-12-10 14:13] willnix86 commented on #27
Yeah very strange, hey?! Any ideas on what might fix it?

[2019-02-18 19:40] Soundvessel commented on #19
Were you able to use the Preview component for those backends or did you have to separately set up a custom drag layer for `HTML5Backend` (mouse dragging)?

[2019-02-18 23:14] Soundvessel commented on #9
This might be related but I was having issues using the `Preview` component with `HTML5Backend`. Even though I had preview set to true in my custom pipeline I found that the "enabled" state was stuck to false unless I triggered a condition to make it switch pipelines.

Here was my original pipeline.

[code]

Funny thing with the above pipeline I could enable to the Preview with mouse by loading Ch

[2019-03-16 01:09] bastaware opened #28 "Preview y-offset"
My first try didn't go too well. Hopefully it's something simple I've missed.

When I start dragging in touch mode (Chrome). The preview is at the top of the parent container (and dropTarget).

It works fine with react-dnd-html5-backend

![offy](https://user-images.githubusercontent.com/1000036/54468750-47faeb00-4790-11e9-9148-e80cd87c20e2.gif)

[2019-05-24 15:31] farouk-46015 opened #30 "TypeError: Cannot read property 'getMonitor' of undefined in index js"
TypeError: Cannot read property 'getMonitor' of undefined in index js

  52 | function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }
  53 |
  54 | var _default = function _default(managerOrOptions) {

  56 |     return new _MultiBackend.default(managerOrOptions);
  57 |   }
  58 |

[2019-05-28 22:21] LouisBrunner commented on #30
Hi @farouk-46015 !
Thanks for your report! However I need more information to be able to fix this problem.
Could you post a bit more information about how you use the library (or even better a complete project)?

[2019-07-19 22:38] chuckdries opened #31 "TypeError: manager.getActions is not a function with latest react-dnd version (9.3.2 at time of writing)"
Reproduction: https://codesandbox.io/s/react-dnd-example-11-ow923

Potentially related to the removal of `DragDropContext` (replaced by DndProvider)

[2019-07-23 00:11] LouisBrunner commented on #31
@chuckdries Thanks for the report, I will take a look as soon as possible!

[2019-07-25 00:46] LouisBrunner commented on #31
Just to keep you up to date, I am preparing a new version (probably 4.0.0) on the `next` branch that will fix this issue by supporting the new `>= 9.0.0` react-dnd API.

However react-dnd non-esm builds are completely broken (wrong entry point, wrong imports...) so it will have to wait until that is fixed. In the meantime, I will update `3.x.x` to forbid usage of newer react-dnd.

[2019-07-25 13:54] vkuba opened #32 "DragDropContext removed from ReactDND"
Since  v9 : https://github.com/react-dnd/react-dnd/releases/tag/v9.0.0 react DND doesn't support DragDropContext. Is there any way to use dnd-multi-backend with the latest version of the react DND?

[2019-07-25 15:03] LouisBrunner commented on #32
HI @vkuba, this problem is being addressed in #31. In a nutshell: I have started work on v9 support and it's close to done, but the v9 non-esm builds are broken so it will need to wait until this has been fixed.

[2019-07-25 15:03] #32 closed

[2019-07-26 07:22] vkuba commented on #31
Hasn't import been fixed in the https://github.com/react-dnd/react-dnd/releases/tag/v9.3.3 :)
Thanks for the update and your great work, keep it going!

[2019-07-27 11:38] LouisBrunner commented on #31
@vkuba This issue also needs to be solved https://github.com/react-dnd/react-dnd/issues/1468

[2019-08-09 07:36] san4oz commented on #31
@LouisBrunner, how's it going ? :)

[2019-08-11 11:01] LouisBrunner commented on #31
@san4oz I have been continuing work on the [`next`](https://github.com/LouisBrunner/dnd-multi-backend/tree/next) branch, and I believe it is more or less ready. However I can't seem to get the tests to pass as I am running into a React error linked to Hooks:
[code]
I can't seem to pinpoint the problem, so if any of you would like to take a look and contribute a fix or just advise on a course of ac

[2019-09-06 14:16] woodreamz commented on #31
@LouisBrunner Did you found the error. In general, this error is pretty clear.

[here](https://github.com/LouisBrunner/dnd-multi-backend/compare/next#diff-6af260efd009071ff2b7db3a8fac5b32R5) you call useDrop (which is a hook) and return an object, you can not use a hook inside a non functional component.

[2019-09-06 14:23] woodreamz commented on #31
Did you found the error? In general, this error is pretty clear. I read the code in next branch, I do not see any invalid hook call. Is it possible you have two versions of React installed?

[2019-09-06 16:25] dobesv commented on #31
Maybe don't use hooks for now?

[2019-09-11 07:56] Okami92 opened #33 "Doesn't work with DndProvider API react-dnd@9.3.4"
Am I missing something, or this library doesn't work with new react-dnd API?

I pass it like this:

`<DndProvider backend={MultiBackend(HTML5toTouch)}>`

and receive following error:

`TypeError: manager.getActions is not a function`

[2019-09-11 16:44] LouisBrunner commented on #33
Hi @Okami92, this bug is being tracked by #31 and is currently being worked on

[2019-09-11 16:44] #33 closed

[2019-09-20 02:13] babalugats76 commented on #31
Thanks Louis for all your hard work!  I just hit the `TypeError: manager.getActions is not a function` myself.  Looks like, to move forward, I will have to roll back my `react-dnd` version.  Would you happen to know the maximum release--of all related packages--one should use that still supports the awesome `MultiBackend` whilst still including `DragDropContext`, etc.  Can you advise on specific v

[2019-09-22 14:40] LouisBrunner commented on #31
@babalugats76 Thank you for the really high praise! :)

From what I can see, `8.0.3` seems to be the last supported for the react-dnd family (`react-dnd`, `dnd-core`, `react-dnd-html5-backend`) and `0.8.3` the last for `react-dnd-touch-backend`, you should be good to go!

I just pushed a new version under the `next` tag which should be working with `9.x.x` (and which doesn't use Hooks, as I seem t

[2019-09-22 15:33] LouisBrunner commented on #30
This issue has been closed because there has been no response to our request for more information. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2019-09-22 15:33] #30 closed

[2019-09-22 15:34] LouisBrunner commented on #24
This issue has been closed because there has been no response to our request for more information. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2019-09-22 15:34] #24 closed

[2019-09-22 15:35] LouisBrunner commented on #26
This issue has been closed because there has been no response to our request for more information. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2019-09-22 15:35] #26 closed

[2019-09-22 15:37] LouisBrunner commented on #28
This is a duplicate of #5, I am aware that this happens but I currently don't have a fix for it, sorry!

[2019-09-22 15:37] #28 closed

[2019-09-22 15:47] babalugats76 commented on #31
Thanks Louis!  I did try to "next" the module and update all of the dependencies via npm (I am using `create-react-app`):

[code]

[2019-09-23 07:58] LouisBrunner commented on #31
The `next` branch is currently using the CommonJS version of `react-dnd`, thus you will need to use `react-dnd-cjs`, `dnd-core-cjs`, `react-dnd-html5-backend-cjs` and `react-dnd-touch-backend-cjs` in your `dependencies` for now (see `peerDependencies` of `react-dnd-multi-backend` and `react-dnd-preview`).

[2019-09-23 19:03] babalugats76 commented on #31
Thank you so much.  I did give it a shot.

Here are my modules:
[code]

Here are my imports:

[code]

Here is my custom pipeline:
[code]

In my render, I am using the `DndProvider` like so:

[code]

Unfortunately, I am still getting the TypeError:

![image](https://user-images.githubusercontent.com/6919889/65453951-69085c80-de01-11e9-977f-678e82d48e98.png)

Knowing me, this is probably user error

[2019-09-23 19:21] LouisBrunner commented on #31
I completely forgot to link that, my bad: https://github.com/LouisBrunner/dnd-multi-backend/tree/next/packages/react-dnd-multi-backend#migrating-from-3xx

`react-dnd 9.x.x` introduces `DnDProvider` which creates the backend and provides arguments (context, manager and extra args), thus the previous syntax of calling `TouchBackend` with arguments and passing it to `react-dnd` doesn't work anymore.

[2019-09-23 19:39] babalugats76 commented on #31
Boom!

Thank you; I appreciate that.  The additional migration note is helpful and clear!

Adjusted custom pipeline to:
[code]

Adjusted `DndProvider` to:

[code]
All preliminary tests are passing, but I will keep at it.

Many thanks!

[2019-09-27 16:18] afoures commented on #31
Hi,

I had the same problem, so I installed all the dependencies :
[code]

used the same import and custom pipeline as above but with `preview: true` and the same `DndProvider`.

Then this error appeared :
[code]

[2019-10-02 17:36] LouisBrunner commented on #31
As it seems like this issue is now fixed by `4.0.0-0`, I will publish it on `latest` as `4.0.0`, thanks to all of you for your patience!

[2019-10-02 17:36] #31 closed

[2019-10-02 21:18] MilesWells opened #34 "react-dnd-multi-backend looking for cjs on latest version (v4.0.0)"
My app won't compile because it is looking for CommonJS versions of DnD modules.

Relevant dependencies
[code]

Code
[code]

Errors
[code]

[2019-10-03 14:21] yaronA opened #35 "Types of parameters 'backends' and 'manager' are incompatible with DndProvider"
Hi,

I'm trying to use dnd-multi-backend with DndProvider of react-dnd as described in dnd-multi-backend documentation and i'm getting a compilation error because of different types from what
DndProvider is expected.

Code:
[code]

Error:
[code]

Relevant dependencies:
[code]

[2019-10-04 22:39] mmissey commented on #35
Seems like the types update from a few days ago didn't get tested with the new DndProvider API

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38893

[2019-10-13 16:04] LouisBrunner commented on #35
@mmissey Thanks for the Typescript support!

[2019-10-13 16:04] #35 closed

[2019-10-13 16:05] LouisBrunner commented on #31
@babalugats76 v4 will work with CommonJS
I will be tracking effort to use ESM in #34

[2019-10-13 16:07] LouisBrunner commented on #34
Hi @MilesWells !
v4 of `dnd-multi-backend` currently only works with CommonJS. However I have plan to introduce ESM support ASAP. If you can't use CommonJS, I'll recommend you stay on `3.x.x` (and corresponding `react-dnd` versions) until the release of v5.

[2019-10-14 23:45] LouisBrunner commented on #34
I have published a new package, `5.0.0-rc01`, using the ESM version of `react-dnd`.
Each package now includes CommonJS, ESM and UMD builds.

[2019-10-18 03:26] babalugats76 commented on #34
I went ahead and put `5.0.0-rc01` into place and everything worked seamlessly with ESM (no CJS).  I will keep testing...thanks again...

[2019-10-19 08:37] cormacrelf opened #38 "Backends incorrectly treated as constructors"
See https://github.com/cormacrelf/angular-skyhook/issues/484, especially:

https://github.com/react-dnd/react-dnd/blob/704245d47892f9d465b1b4465203f5c8464eb5a7/packages/core/html5-backend/src/index.ts#L7-L10

A dnd-core `BackendFactory` is just a function that returns any object that implements `Backend`. MultiBackend.js should not call it with `new backend.backend(...)`. I am frankly surprised th

[2019-10-19 08:59] cormacrelf commented on #38
I figured out why 'backend.backend is not a constructor' hasn't reared its head before.

1. Regular functions like `function Named() {}` or `const anon = function() {}` can be called as constructors.
2. If a regular function doesn't return a value, it is a normal prototypical constructor which returns the newly constructed `this` when it is called with `new`.
3. If a regular-function-constructor r

[2019-10-19 13:16] #38 closed

[2019-10-19 13:17] LouisBrunner commented on #38
Good catch, I don't know why I did it this way. Thanks for the PR!

[2019-11-12 10:11] LouisBrunner commented on #34
@babalugats76 I have now published `5.0.0-rc03` including ESM/CJS/UMD builds, changes requested by @cormacrelf and a new API for `<Preview />`.
I will do more testing on my side but I am aiming to release it as `latest` by the end of the week, please tell me if you run into any issue.

[2019-11-12 16:05] babalugats76 commented on #34
Thanks @LouisBrunner.  I upgraded to `5.0.0-rc03` and have done some preliminary testing. So far, so good.  I have a custom DragLayer and preview component, so, unfortunately, I won't be able to test those enhancements.  When I began development, I tried `Preview`, and it worked well, but I was having a hard time figuring out to integrate the use of `Preview` alongside the non-touch browser ghost,

[2019-11-14 00:43] dobesv commented on #34
Are you planning to release a commonjs version in the future, like `react-dnd-multi-backend-cjs` to match `react-dnd-cjs` and friends?

[2019-11-14 05:56] cormacrelf commented on #34
@dobesv I don’t see why it would be worth the effort, poor Louis already does enough. I don’t even know why upstream decided to do it. Even the Jest restriction is solved by mapping to a cjs subdirectory of the main packages.

[2019-11-14 07:03] dobesv commented on #34
Yeah, fair enough.  Just that it seems like for us we can only use the `-cjs` ones.  I tried to use version 5 of this package but the react-dnd stuff doesn't seem to work with server-side rendering in node.js.  It was using the ems build for some reason.  Maybe I'll figure out another solution next time I try, and this one has released version 5.

[2019-11-26 12:26] de83c78d1f opened #40 "Bug?: Class constructor HTML5Backend cannot be invoked without 'new'"
Hello and thank you for your work. I use your lib on `5.0.0-rc03`. `React-dnd 9.4.0`
My `App.tsx` file uses custom `HTML5toTouch`:
[code]
Where HTML5 backend is our fork of official one, and Touch backend is official. I get error attached on screen
![Screenshot from 2019-11-26 15-13-05](https://user-images.githubusercontent.com/39216062/69632565-2d3b7e80-1060-11ea-8747-648ba77c393e.png)

When i go

[2019-11-27 18:51] LouisBrunner commented on #40
Hi @de83c78d1f,

As reported in #38, backends were never meant to be treated as constructors, thus the usage of `new` was a mistake on my side.

To allow your custom backend to work again, you can just wrap it in a function (see https://github.com/LouisBrunner/dnd-multi-backend/blob/next/packages/dnd-multi-backend/examples/Backends.js#L110).

Hope that helps!

[2019-11-28 09:15] de83c78d1f commented on #40
Thank you for clarification, now it works just fine.

[2019-11-28 09:15] #40 closed

[2019-12-02 20:48] LouisBrunner commented on #34
@dobesv As @cormacrelf said, I am not planning to release a separate CommonJS package in the near future, however feel free to tell me if there is anything reasonable I can do to improve/help your workflow.

@babalugats76 That's awesome! I would be really interested to know how you integrated the dnd ghost for touch, maybe we can improve the workflow in `react-dnd-preview` to make it more usable o

[2020-01-16 19:11] thesunny opened #41 "Proposal: Method to provide different elements to initiate Mouse vs Touch dragging"
When we drag using the mouse, the expectation is that we can click and drag anywhere on the element to initiate the drag. Consider a file explorer in a code editor for example. We can usually click and drag the filename to move it.

When we drag using touch, the expectation is that we click on a drag handle. The reason why is because we need a way to scroll and usually that means dragging anywhere

[2020-01-18 17:45] LouisBrunner commented on #41
Hi @thesunny,

This isn't possible at the moment, but that is a really interesting proposal! Do you have any ideas about how the API/usage would look like? I am especially interested about how to assign a particular backend to a particular source/target.

Here is my first draft (feel free to add your own!), would it fit your purpose?

[code]

[2020-01-21 02:12] thesunny commented on #41
Hi @LouisBrunner,

Thanks for responding and your sample code.

Here's one approach that would work for me and would be compatible with react-dnd API (with one extra options Object):

[code]

This would handle the use case of being able to drag anywhere on the item with the mouse and being able to drag the handle for touch.

Long-term, I wonder if "Dnd Multi backend" would better be served as a li

[2020-01-24 23:21] LouisBrunner commented on #41
Thanks for your sample @thesunny, I really like the idea of returning the refs in an object and the preview as well!

I will start working on a basic version in the following days.

[2020-01-25 01:31] thesunny commented on #41
That sounds great.

I wasn't expecting it to be considered so quickly. You've made me glad to have taken the time to write the proposal.

Thank you!

[2020-02-28 13:48] fxOne opened #42 "Update peerDependencies to react-dnd 10"
Can you please update the peerDependencies to the latest react-dnd verison as version 10 is available?

https://github.com/LouisBrunner/dnd-multi-backend/blob/37465b5d2e19e155aabcbc65a5bdfadd2dac7f79/packages/react-dnd-multi-backend/package.json#L27
https://github.com/LouisBrunner/dnd-multi-backend/blob/37465b5d2e19e155aabcbc65a5bdfadd2dac7f79/packages/react-dnd-multi-backend/package.json#L28
http

[2020-03-01 23:18] #34 closed

[2020-03-01 23:19] #9 closed

[2020-03-01 23:19] #10 closed

[2020-03-01 23:19] #20 closed

[2020-03-28 19:09] joejavacavalier2001 opened #44 "react-dnd-multi-backend@5.0.0 requires a peer of react-dnd-touch-backend@^9.4.0 but none is installed"
I have a few questions.
Using npm, how do I install all the dependencies of the multi backend?
Why am I being asked to install "react-dnd-touch-backend"?

[2020-03-28 19:19] joejavacavalier2001 commented on #44
My apologies.
I solved this problem myself by running:
`npm i react-dnd-touch-backend@9`

[2020-03-29 15:42] #44 closed

[2020-04-29 14:11] markfeimer commented on #42
I believe the older libraries are causing some issues on iOS 13 so I am watching this with interest!

[2020-04-29 21:52] LouisBrunner commented on #42
I just pushed `5.0.1` which updates all of that. Can you confirm it's working as expected?

Very sorry for the delay!

[2020-04-30 00:04] markfeimer commented on #42
I expect to give this a try tomorrow and will report back!  Thank you!

[2020-04-30 19:20] markfeimer commented on #42
@LouisBrunner this was exactly what I needed, thank you!

[2020-04-30 20:02] LouisBrunner commented on #42
Happy to hear! Thanks for the feedback!

[2020-04-30 20:02] #42 closed

[2020-05-03 13:42] LouisBrunner commented on #41
@thesunny,

I am very sorry about the delay but I finally got to finish a first draft for that proposal.

I published it under the `next` tag of `npm` (version `5.1.0-rc01`) and you can see the documentation on the [`next` branch](https://github.com/LouisBrunner/dnd-multi-backend/tree/next) on GitHub.

Any feedback would be greatly appreciated!

[2020-05-05 00:01] thesunny commented on #41
Hey thanks @LouisBrunner, I will try to take a look on Wednesday.

Putting it in my calendar. :)

[2020-05-05 16:25] nan140114 opened #45 "Attempted import error: 'PreviewManager' is not exported from 'dnd-multi-backend'."
Hello there.

I'm trying to build a react application with these dependencies:

"react-dnd-html5-backend": "10.0.2"
"react-dnd-multi-backend": "5.0.0"
"react-dnd-touch-backend": "10.0.2"

The build scripts throw this error:

[code]

I took a look at the dependency tree and react-dnd-multi-backend requires "dnd-multi-backend": "^5.0.0". Maybe the last version v5.0.2 introduces this issue? Thank you

[2020-05-05 16:43] nan140114 commented on #45
Oh. I got it, the new version of "dnd-multi-backend" removes the PreviewManager module. I'm using 5.0.0 of react-dnd-multi-backend, which requires the 5.0.2 version of dnd-multi-backend. I'm going to update the react-dnd-multi-backend to 5.0.2. Anyway, maybe use exact version numbers could solve the issue?

[2020-05-05 18:16] LouisBrunner commented on #45
Hi @nan140114,

Ugh, I didn't think of that at all! I will unpublish the 5.0.2 and republish it as 5.1.0 (as it should have been from the beginning).

Sorry about that!

[2020-05-05 18:52] LouisBrunner commented on #45
Actually, it should have been `6.0.0` as there are breaking changes... Anyway, after a few publishes and `npm deprecate`, installing `react-dnd-multi-backend@5.0.0` will yield you `dnd-multi-backend@5.0.1` which are compatible.

Sorry for the confusion! Note that from `react-dnd-multi-backend` perspective, the only changes between `5.0.1` and `6.0.0` is a new `DndProvider` component and a `usePrev

[2020-05-05 19:01] nan140114 commented on #45
Don't apologize!. Thank you for this tool! Sure, I agree. The `6.0.0` looks better Jajaja. Anyway, our workaround was to use the `5.0.2` version. Give me a few hours to check the build with `5.0.0` version. :walking:

[2020-05-05 19:01] LouisBrunner commented on #41
@thesunny,

Unfortunately, due to messing up my npm versions, I upgraded the package to `6.0.0` and the draft with your proposal is now under `6.1.0-rc01`.

Sorry about the confusion!

[2020-05-05 22:42] nan140114 commented on #45
It works! Thank you for your time!

[2020-05-05 22:42] #45 closed

[2020-05-06 00:38] thesunny commented on #41
Thanks for the update. Looking forward to checking it out tomorrow.

[2020-05-06 15:22] na2hiro opened #46 "Preview doesn't show up for the first backend"
Preview doesn't seem to work if a backend is the first one in the pipeline.

I created a custom pipeline combining mouse backend and touch backend, both of which don't have a default preview:

[code]

I implemented a preview and I can see preview on touch device, but cannot see with mouse devices. Interestingly, if I flip the order of the backends, then it's vice versa: preview shows up for mouse

[2020-05-06 17:06] LouisBrunner commented on #46
Hi @na2hiro,

Thanks for your report! Could you clarify which version you are using and if using the lastest (`6.0.0`) or an earlier one (`5.0.0`) changes anything?

[2020-05-06 17:23] na2hiro commented on #46
Hi, I confirmed it with 6.0.0. I also tried with 5.0.0 but I think I only checked the Mouse -> Touch order (in which case preview didn't work for mouse)

[2020-05-06 18:19] LouisBrunner commented on #46
Thanks for the confirmation. I think I have isolated the bug, I have just released a new version including the fix: `6.0.1`. Can you confirm that it solves your issue?

[2020-05-06 19:32] thesunny commented on #41
Hi @LouisBrunner ,

Thanks for working on this new feature! It will be a great addition to your library.

During the process of evaluating `6.1.0-rc01`, this issue came up.

Importing `react-dnd-multi-backend` works fine. When importing at the path for `HTML5toTouch` using the instructions in the documentation https://github.com/LouisBrunner/dnd-multi-backend/tree/next/packages/react-dnd-multi-bac

[2020-05-06 20:36] LouisBrunner commented on #41
It depends on your build system, you might need to do `import HTML5toTouch from "react-dnd-multi-backend/dist/cjs/HTML5toTouch"` (see here https://github.com/LouisBrunner/dnd-multi-backend/tree/master/packages/react-dnd-multi-backend#npm-installation).

[2020-05-06 22:10] thesunny commented on #41
Thanks for the clarification. It felt like a WebPack/Babel/Compilation issue.

May I recommend that the example have a comment right in it that it could be `/cjs/` depending on the build system. If I wasn't testing, I may have moved on to another library.

[2020-05-06 23:23] thesunny commented on #41
Found a documentation issue.

[code]

Under the `html5` and `touch` property values, there is an array. The first argument are `props` and not the `ref`.

[2020-05-06 23:26] thesunny commented on #41
Drag and Drop works with a mouse; however, it only drags the handle and not the container. My instinct was that we define the container by using the `ref` returns as part of the first argument; however, when I drag, only the handle moves.

[2020-05-06 23:27] thesunny commented on #41
Drag and Drop with touch doesn't seem to work for me, either on my device or on the Chrome simulator; however, I may have made an error in the code so I post it here in case you have any ideas on what's wrong.

[code]

[2020-05-06 23:28] thesunny commented on #41
Thank you for fixing the documentation!

[2020-05-07 02:38] na2hiro commented on #46
I confirmed that both order works for both devices. Thanks for the very quick response!!

[2020-05-07 02:38] #46 closed

[2020-05-07 18:05] LouisBrunner commented on #41
The touch worked in my examples, I'll try your use case!
For the handle/container, I am afraid it will be a bit difficult to do, I will look into it though.

[2020-05-07 18:16] LouisBrunner commented on #41
The Touch works, you just need to add a `<Preview />` component (https://github.com/LouisBrunner/dnd-multi-backend/tree/master/packages/react-dnd-multi-backend#preview) as the TouchBackend doesn't generate one.

[2020-05-14 17:33] dobesv opened #47 "Customizable preview portal parent"
Currently the preview portals all use the same parent, which is a div added by the DndProvider.

However, if you are dragging something that is itself in a portal that is in a div that comes after that common parent, then the drag preview might be behind that other element.

It would be nice if instead of `DndProvider` creating its own `div` we could specify the `div` to use (e.g. `document.getEle

[2020-05-27 11:35] DavidHenri008 opened #49 "Support react-dnd v11"
Support the react-dnd version 11 which introduces small breaking change.

Thanks.

[2020-05-30 12:27] #49 closed

[2020-05-30 12:30] LouisBrunner commented on #49
Hi @DavidHenri008,

Thank you for your report, the issue has now been addressed in v6.02 which I just published.

[2020-05-30 12:37] LouisBrunner commented on #41
Hi @thesunny,

Is the current implementation usable despite only the handle moving and not the whole container? I don't currently have a workaround for that case, however I'd like to publish the current draft (in order to see the impact and gather more feedback) but I am curious to know if it's at all useful for your original issue.

[2020-05-30 12:41] LouisBrunner commented on #47
Hi @dobesv,

Thank you for your report, I introduced the `DndProvider` wrapper in the latest release and it is good to it get some use!

Adding a way to inject your own `div` seems reasonable so I will look into it soon, however would you mind showing me an example of the case you are describing here:

As I am not sure I entirely understand.

[2020-05-30 17:44] dobesv commented on #47
To reproduce:

1. Create a modal element in a portal, parent element is document.body
2. Try and drag things around in there

Although maybe we are using the provider differently than you intended.  We have one global DND provider inside react root.  I'm not sure if we're supposed to have multiple of these providers, used separately in components that support DND.

[2020-05-30 18:49] thesunny commented on #41
Hi @LouisBrunner, sorry I dropped the ball on this.

I'll have to check it out again but I think I can answer this more quickly by asking a few questions.

When you drag with the handle on the mouse dragging, the handle can be the container am I correct? In this case, it should work fine since we usually only have a smaller handle within the container when dragging using touch.

When using touch,

[2020-06-16 09:57] fromi opened #50 "Breaking change when combining v6.0.2 with react-dnd v10"
Hi,

I just updated my dependencies using yarn upgrade.
I have:
[code]
My application is broken: `Error: You must specify a 'backend' property in your Backend entry`
It is fixed after upgrading react-dnd to v11, however it may cause troubles to other people as it is a patch version on your side.

[2020-06-17 13:00] LouisBrunner commented on #41
Yes, both of them are right.

You should be able to assign one ref to the container and one to a sub component so the mouse drags the whole thing and touch drags using a smaller, inner handle.

The `<Preview />` component will render based on the associated generator function (as TouchBackend doesn't generate previews because it doesn't use html5 drag'n'drop API).

[2020-06-17 13:09] LouisBrunner commented on #50
After the upgrade (or any subsequent installation), `yarn` (or `npm`) should prompt you that you are missing a peer dependency:
[code]

While this is not ideal, you are still being warned.

Thanks for your feedback though, I will bump the major version for each major change in `react-dnd` in the future in order to avoid such issues.

[2020-06-17 13:09] #50 closed

[2020-06-30 14:16] CayenneLow opened #51 "Unable to import usePreview with TypeScript React"
I'm trying to import the usePreview hook via:
[code]
but it's giving me the following error:
[code]
Below are my installed dependencies:
[code]

Would be great if I could get some help on this.

Thanks in advance!

[2020-06-30 14:26] LouisBrunner commented on #51
Hi,

At the moment, the TypeScript type definitions are managed by [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped#readme) (great project!).

You will need to log an issue with them directly. I will see if I have time to contribute a patch to their repo.

[2020-06-30 14:26] #51 closed

[2020-07-09 11:46] Phinodel opened #52 "import HTML5Backend in HTML5toTouch breaks"
I've made a quick game of questions where one uses a drag and drop to put the answers in the right order.
At first I made it just in `react-dnd` as I didn't need to support mobile.
Now mobile support has been requested as well as Desktop support I've tried implementing your library (which is a perfect solution for me btw, great work!)

So I've swapped out `react-dnd` for `react-dnd-multi-backend`

[2020-07-09 14:58] LouisBrunner commented on #52
Hi @Phinodel,

From a quick look, it looks like you need to use the CommonJS version of `HTML5toTouch`.
Thus your import should look like:
[code]

Hopefully that solves the issue!

[2020-07-09 15:05] Phinodel commented on #52
That was it, thank you so much for your help.
I didn't spot that in the docs

Thanks

[2020-07-09 15:05] #52 closed

[2020-10-02 16:18] LouisBrunner commented on #41
This will be released as part of 6.1.0

[2020-10-02 16:18] #41 closed

[2020-10-08 19:40] rcharmeyer opened #57 "react-dnd-multi-backend documentation shows old implementation of HTML5toTouchBackend"
Related to #31 `backend: TouchBackend({ enableMouseEvents: true })`
should be `backend: TouchBackend, options: { enableMouseEvents: true },`

[2020-10-12 14:57] R4VANG3R opened #58 "PreventDefault errors"
I'm getting an error on `MultiBackend.js:135`:

when used in combination with[ `rc-slider`](https://github.com/react-component/slider).

I've made a minimal example here: https://codesandbox.io/s/dnd-slider-0npvo?file=/src/App.js

To reproduce:
- Open the example on a mobile device
- Tap on the slider
- See error in console

[2020-10-16 14:20] LouisBrunner commented on #58
Thanks for your report @R4VANG3R!

That's interesting, I suppose the event duplication is less than ideal... I will look into why it's being considered passive for some reason.

[2020-10-30 10:29] LouisBrunner commented on #57
Hi @rcharmeyer,

Good catch! I will fix it right away.

[2020-10-30 10:40] #57 closed

[2020-10-30 10:54] LouisBrunner commented on #5
@andersonrocha0,

I don't know if you are still using `dnd-multi-backend` but I would be interested to hear from you around this issue.

I have created a new examples page (https://github.com/LouisBrunner/dnd-multi-backend/blob/master/packages/react-dnd-preview/examples/offset/App.js) dedicated to testing preview offsets, and I would love to add similar styling as you had in your example so we can

[2020-10-30 11:49] LouisBrunner commented on #47
@dobesv,

Sorry for the delay. You are using it correctly, I don't think it's useful to have more than one provider.

I still have difficulty picturing what issues you are running in (a repo which reproduces the issue would greatly appreciated!).

But from what I understand, you would be fine with passing a `ref` to `DndProvider` which would point to the div you want to use for your portal?

[2020-10-30 12:38] #58 closed

[2020-11-02 08:32] dobesv commented on #47
@LouisBrunner

Sorry if I wasn't clear in my description, it's a bit tricky to explain, I guess.

Let's say your app boots up and you have the drag and drop stuff initialized, your DOM might look something like:

[code]

Now if you create a modal in a new div:

[code]

If the modal has draggable elements, they are inserted into the `<div> ... portal created for DnD purposes ... </div>`, which is b

[2020-11-04 22:24] dobesv commented on #47
To answer your second question, yes if I could just pass in the element (or a ref to it is fine also) that would be used as the portal parent for the previews, that would probably solve the problem.

[2021-01-23 21:20] LouisBrunner commented on #51
Just wanted to update that 7.0.0 will release with full TypeScript support

[2021-02-02 23:17] JacksonGariety opened #65 "`useObservePreviews` is not exported from `react-dnd-multi-backend`"
Shouldn't `useObservePreviews` be exported? Otherwise, how can we determine whether to draw the separate preview layer downstream in the component hierarchy?

[2021-02-03 19:36] LouisBrunner commented on #65
Hi @JacksonGariety,

You should use [`usePreview`](https://github.com/LouisBrunner/dnd-multi-backend/tree/main/packages/react-dnd-multi-backend#preview), or does that not fit your use case?

[2021-02-03 22:07] JacksonGariety commented on #65
@LouisBrunner I was using the `<Preview generator={generatePreview} />` format and noticed that the `display` property was not present. I realized that I could get it from `useObservePreviews`, but I guess I could've used `usePreview` all along. Thanks.

[2021-02-03 22:07] #65 closed

[2021-02-05 17:57] LouisBrunner commented on #65
Note that you can continue using `<Preview generator={generatePreview} />` if you prefer that format, it will only call and display your `generatePreview` if needed (based on `useObservePreviews` internally).

[2021-02-27 19:54] yunusemredilber opened #66 "Touch preview is not working on the first try"
Touch preview is not working on the first try. But it working perfectly after. At first, I noticed the problem with my app. Later I noticed that the problem is also on your sample page. This problem happens on both my computer and my phone.

Screen recordings:

https://user-images.githubusercontent.com/46731483/109398477-40698800-794e-11eb-837b-8afa9c1f59c7.mov

https://user-images.githubuserconte

[2021-02-28 13:29] LouisBrunner commented on #66
Hi @yunusemredilber,

Thanks for your report! Just to be clear, you are using `7.0.0-alpha.1` right?

[2021-02-28 13:31] yunusemredilber commented on #66
Yes. My current dependencies:
[code]

[2021-02-28 13:33] LouisBrunner commented on #66
Thanks for the confirmation.

This is the reason I haven't released it as part of `latest`, I haven't been able to figure out that issue!
It's the next thing on my backlog but I would love some help.

[2021-02-28 19:41] yunusemredilber commented on #66
Translate values are NaN at first drag. I think it breaking over here
https://github.com/LouisBrunner/dnd-multi-backend/blob/f25d895001d256ff947ca497c84ee2d3c9c891fd/packages/react-dnd-preview/src/offsets.ts#L33

As far as I can see, Getting a null-related NaN value looks not possible really.  Nevertheless, I wanted to share in case anyone wants to investigate my findings by examining them.

<img

[2021-03-02 11:52] LouisBrunner commented on #66
Ah right yes, that's as far as I got it too. I couldn't find a reason why a few of the `monitor` functions return `null`.

[2021-03-08 14:52] no-todos opened #67 "Outdated dependencies"
### What is the problem
Currently `dnd-multi-backend` relies on outdated versions of dependencies

### Additional info
[code]

### Solution
It'd be nice to see updated peer dependencies to include `react@^17`, `react-dom@^17`, `react-dnd-html5-backend@^12` and `react-dnd-touch-backend@^12`

[2021-03-18 14:58] tomothumb commented on #67
same issue

[2021-03-18 15:43] alarinel commented on #67
same

[2021-03-22 03:10] btahir commented on #66
I'm having this issue as well. Has there been any progress on solving it? :)

[2021-04-02 09:18] #47 closed

[2021-04-02 09:19] LouisBrunner commented on #27
Lot of time has passed since, hopefully that bug doesn't exist anymore so I will close this but feel free to reopen if you have a reproducible case (esp. a small repo setup).

[2021-04-02 09:19] #27 closed

[2021-04-02 17:48] #66 closed

[2021-04-02 17:51] LouisBrunner commented on #66
I merged a fix for this issue (it's still slightly offset during that first touch event but it's at least usable).

I will try to get it published as `7.0.0-alpha.2` today.

[2021-04-02 17:59] LouisBrunner commented on #67
Hi,

I will be publishing `7.0.0-alpha.2` today, which will include compatibility with `react-dnd@12` and `react@17`.
If you can try that version and get back to me, I will get it published as `7.0.0`.

[2021-04-02 17:59] #67 closed

[2021-04-02 18:01] LouisBrunner commented on #5
For future reference, I have also seen this issue when the `<Preview />` component is rendered too deep inside the DOM (esp. inside other `position: absolute` tags).

As we have different ways to address this issue now, I will close this for now, feel free to reopen if you encounter this issue again.

[2021-04-02 18:01] #5 closed

[2021-05-11 10:41] marcohamersma opened #68 "error: You must specify a valid 'transition' property"
Heya,
I'm using `react-dnd-multi-backend` with `rdndmb-html5-to-touch` as described [in the readme](https://github.com/LouisBrunner/dnd-multi-backend/tree/main/packages/rdndmb-html5-to-touch), but I'm getting an error when loading the page.

[code]

I've created [a codesandbox](https://codesandbox.io/s/multi-backend-error-e4yq6) to demonstrate.

I also tried using the "old API" approach described

[2021-05-11 20:46] LouisBrunner commented on #68
Hi,

I don't know if CodeSandox shows `npm install` warning but it would probably tell you that  `react-dnd-multi-backend` needs to be at version `7.0.0-alpha.2` while it is currently pinned at `6.0.2` in your example. Updating the dependency fix it: https://codesandbox.io/s/multi-backend-error-forked-68gw1

Can you confirm is that fixes your problem?

[2021-05-13 11:22] marcohamersma commented on #68
Hello Louis,
Thanks for the fast reply. Changing the dependency version seems to work. I didn't spot this locally (there's a lot of warnings at our end because of nested modules like webpacker). Anyway, thanks for the help!

[2021-05-15 18:37] #68 closed

[2021-06-25 09:44] wusthy opened #69 "react-dnd-preview: bug"
when mouse quick move and click will lead preview visible

[2021-06-26 13:53] LouisBrunner commented on #69
Hi @wusthy,

I will need a bit more information to be able to help you, at the minimum some kind of reproduction case (list of steps, demo project, video, etc) on top of which version you are using (React, ReactDnD, this repo, etc).

[2021-08-04 17:26] texels opened #70 "Change peerDeps to support react 16"
If there isn't a reason to require 17, can you please allow 16 as well? (alpha-1 used 16)
[code]

[2021-08-18 14:39] LouisBrunner commented on #70
Hi @texels,

I remember having issues with 16 but that should be easy enough to do.

[2021-08-18 15:13] #70 closed

[2021-08-18 15:18] LouisBrunner commented on #70
I just pushed `7.0.0-alpha.3` which address this

[2021-08-26 13:40] aertms opened #72 "Reach MenuButton not working when Multi-Backend is active"
Hello,
I'm working on a project where I use react-dnd with the react-dnd-multi-backend. I also use the Reach UI [MenuButton](https://reach.tech/menu-button/). But the MenuButton popover is not opening when using touch while I'm using the react-dnd-multi-backend. If I use the react-dnd-touch-backend it is working. I narrowed it down to this package.

I made a small example app to reproduce the prob

[2021-08-28 13:47] LouisBrunner commented on #72
Hi @aertms,

Thanks a lot for the example! That is a most peculiar issue... from what I can see you are doing everything as expected and this is a bug.

I would need to dig a bit deeper into `MenuButton` to see why this is happening as this is probably caused by the events shenanigans MultiBackend has to do to allow the switching, I'll get back to you.

[2021-08-28 15:32] LouisBrunner commented on #72
@aertms,

I have published `7.0.0-alpha.4` which should resolve your issue.

The problem came from a combination of two sources: browser sending mouse events with touch events and the way MultiBackend does the switching from one backend to another. I either didn't know or forgot that browsers send both touch and mouse events together for all touch events, which meant MultiBackend kept switching be

[2021-08-28 15:32] #72 closed

[2021-08-29 15:00] weizlini opened #73 "hooks example `class` should be `className`"

[2021-08-30 14:03] aertms commented on #72
Hi @LouisBrunner,
 Thanks for the quick response! I tested it and it works with the fix! :) Thanks!

[2021-08-31 11:08] #73 closed

[2021-09-10 11:30] RouvenGonzalez commented on #66
Is there an update on this issue?
Im running into the same problem using version alpha.4

[2021-09-14 12:24] dotmlj opened #74 "Determine which backend is currently in use"
react-dnd-multi-backend@7.0.0-alpha.4

Is there a way to determine which backend is currently in use, so the layout and functionality of the Preview can be altered based on this?

Thanks

[2021-12-16 05:45] Raflos10 opened #75 "Preview position is different on first drag (touch)"
Reproduce:
Test the [example](https://louisbrunner.github.io/dnd-multi-backend/examples/react-dnd-multi-backend.html ) and try using mobile touch mode on any of the boxes. The very first time, the preview's top-left corner will be exactly on the mouse. Then every subsequent try, it will be in the proper location.
It seems kind of inconsequential in the example page, but it's really noticeable in a

[2021-12-24 10:39] LouisBrunner commented on #75
@Raflos10 This is a known bug unfortunately. IIRC the first call to `useDragLayer` doesn't return the right values to render the preview correctly. If you want to investigate the issue yourself, that would be the first place I check.

[2022-01-12 23:32] Clariity opened #76 "Update v6 version React dependencies"
The current stable release (v6.0.2) has a React dependency of ^16.14.0 .

My application uses React 17 and is getting issues trying to use this package with the conflicting dependencies, and using ^7.0.0-alpha.4 isn't working because it has bugs with Preview on mobile.

Are you able to update v6 to accommodate react ^17.0.2 and react-dom ^17.0.2 please?

[2022-03-14 17:12] Fridious commented on #76
It would be nice, if you support the react 17

[2022-04-06 15:58] jadenv opened #78 "CJS build incompatible with react-dnd v16"
The latest release of `react-dnd` is now only published as an ECMAScript module.
See here: https://github.com/react-dnd/react-dnd/releases/tag/v16.0.0

This ends up breaking `react-dnd-preview`'s CommonJS distribution (`dist/cjs` folder) with an error like this:

[code]

[2022-04-08 21:19] Shivam1307 opened #79 "Mouse drag drop not working"
I have used react-dnd-multi-backend with two backed one is HTML5Backend and KeyboardBackend.
When I drag item using keyboard shortcut (ctrl+d) and drop on any target (enter key) it drops the item . After that I tried it to drag using mouse then it is not working.

Please someone help me to resolve above issue.

[2022-04-15 05:12] bhollis opened #81 "TypeScript issue with React 18 types and DndProvider"
See https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56210 - the `FC` type no longer includes `children`, which causes a type error when trying to use `DndProvider`.

[2022-05-13 17:50] yoieh opened #83 "Building from a ci env results in "Invariant Violation: Expected drag drop context""
When building my react app using bitbuckets ci pipeline i end up with this error.

[code]

But when building from my local environment it totaly fine.

I cant understand why...

Im using this example as my setup but with custom components.

[code]

 packages installed:
[code]

 local node version: v16.15.0
 local npm verion: 8.5.5

 local output of npm build:

[code]

bitbucket.yml
[code]

ci buil

[2022-05-14 09:03] yoieh commented on #83
I have removed node_modules and lock files.

rerun:

then

and now Im getting the same error localy.

[code]

[2022-05-14 09:14] yoieh commented on #83
It works great when installing with yarn but not when install installing with npm.

[2022-05-14 09:46] yoieh commented on #83
uppgrading to

[code]

seems to solve that issue but now is causing a lot of weird erros on my project...

From my terminal
[code]

Browser console log
[code]

[2022-05-14 09:58] yoieh commented on #83
but still the same error while building from my bitbucket pipline.

[2022-06-08 09:02] JacksonGariety opened #84 "calculatePointerPosition should respect zoom level on iPhone"
`calculatePointerPosition` does not take into account the zoom level. So previews are offset on iPhone, if the user is zoomed in. The function should detect the zoom level and adjust the coordinates appropriately.

[2022-06-26 19:16] git-chrisp opened #86 "Update peerDependencies"
Currently only React 16 and 17 are referenced as peer dependencies. Please also add support for React 18.

[2022-08-03 08:07] AmlisPanda commented on #66
Same problem too with version alpha.4 :(

[2022-08-22 18:57] Jonathansw opened #88 "Is there a reason for why 7.0.0 is still in alpha phase?"
It looks like 7.0.0 has been in dev for 2 yearsish.  Was wondering if there was a timeline for moving out of alpha?  Or what the current issues are with the build.

[2022-08-31 14:39] LouisBrunner commented on #78
Hi @jadenv, thanks for raising this issue.

I guess that means I'll need to drop CommonJS distribution or is there any other way to address this problem?

[2022-08-31 14:43] LouisBrunner commented on #86
This has been address in #87 and will be released soon, sorry for the delay!

[2022-08-31 14:44] LouisBrunner commented on #88
I can push 7.0.0 as most people seem to be happy with it but I will probably jump directly to 8.0.0 to upgrade to the newer React-DnD

[2022-08-31 14:56] jadenv commented on #78
@LouisBrunner yeah, I think dropping the CommonJS dist going forward would make sense since react-dnd is ESM-Only too.

[2022-08-31 16:13] LouisBrunner commented on #88
@Jonathansw `7.0.0` is officially out, sorry for the delay 😉

[2022-08-31 16:13] #88 closed

[2022-08-31 16:14] LouisBrunner commented on #86
@git-chrisp React 18 support has now been published as part of `7.0.0`

[2022-08-31 16:14] #86 closed

[2022-08-31 16:15] LouisBrunner commented on #81
@bhollis This issue should now be fixed as part of `7.0.0`, please reopen if this isn't the case

[2022-08-31 16:17] LouisBrunner commented on #76
Hi @Clariity and @Fridious,

Is there any reason you can't use `7.0.0`? I have tried to fix `6.0.2` to add React 17 support but couldn't fix the build. The codebase has been through a major refactor between 6 and 7 and I am not sure I would be able to patch it without a massive rewrite.

[2022-08-31 16:22] LouisBrunner commented on #74
Hi @dotmlj,

Would passing this information as part of `usePreview`'s result or `Preview`'s props be enough?

[2022-08-31 16:24] LouisBrunner commented on #79
Hi @Shivam1307,

Could you provide a minimal reproducible example? (if possible a snippet or repository that demonstrate the issue without too much extra fluff)

[2022-08-31 16:30] LouisBrunner commented on #84
Hi @JacksonGariety,

I can't seem to reproduce it with different zoom level on any device, are you using the `ref` prop of the Preview component?
https://github.com/LouisBrunner/dnd-multi-backend/tree/main/packages/react-dnd-preview#usage--example

[2022-08-31 16:36] LouisBrunner commented on #83
Hi @yoieh,

I don't think the issues you have after upgrading to `7.0.0-alpha.4` are related to dnd-multi-backend.

Could you provide a minimal reproducible example so I can help you?

[2022-08-31 16:43] yoieh commented on #83
That was my problem i could not reproduce it. Its some how resolved it's self. This can be closed i guess.

[2022-08-31 16:43] #83 closed

[2022-09-01 15:49] LouisBrunner commented on #78
I have implemented it on `main` (latest ReactDnD, ESM-only) but I am having some webpack issues when dealing with ESM.

In case you have any idea how to solve this, don't hesitate to raise a PR. (https://louisbrunner.github.io/dnd-multi-backend/examples/react-dnd-multi-backend.html)

[2022-09-15 05:07] maiconcarraro commented on #78
@LouisBrunner https://github.com/LouisBrunner/dnd-multi-backend/pull/91 if you can check

[2022-09-17 09:19] Dullaz opened #92 "Invariant Violation: Expected drag drop context"
I'm running into a similar issue to https://github.com/LouisBrunner/dnd-multi-backend/issues/83

These are my dependencies:

[code]

`index.tsx` :
[code]

`WordGrid` doesn't have any draggable elements but it renders `Card`s where the error occurs

`Card.tsx`:

[code]

The error I am getting is:

[code]

<img width="1031" alt="Screenshot 2022-09-17 at 11 17 36" src="https://user-images.githubuserc

[2022-09-17 20:54] Dullaz commented on #92
Managed to fix this by using the old-api method

[code]

[2022-09-17 20:54] #92 closed

[2022-09-21 10:29] szymonkwak opened #93 "JSX Runtime issue - React 18, Webpack 5"
I am getting a compilation error, similar to the one in this topic: [react-dnd/issues/3418](https://github.com/react-dnd/react-dnd/issues/3418)

[code]

Dependencies in the project:
`react 18.2.0`
`webpack: 5.74.0`
**`react-dnd-multi-backend: 7.1.1`**
`react-dnd: 16.0.1`
 `rdndmb-html5-to-touch: 7.1.0`

[2022-09-24 15:39] deltakapp opened #94 "Example application broken"
The example application at https://louisbrunner.github.io/dnd-multi-backend/examples/react-dnd-multi-backend.html
is broken on firefox v105 and chrome v105.

Error message:
React is not working

![image](https://user-images.githubusercontent.com/69483547/192106609-3132242d-f993-41de-8e49-72f4e849b8ad.png)

[2022-09-25 10:27] Bibletoon commented on #93
I faced the exactly same issue, [this](https://github.com/react-dnd/react-dnd/issues/3433#issuecomment-1102144912) worked for me.

Also this fix only works with old api (using DndProvider from react-dnd), using new api causes new error:
[code]

[2022-09-26 11:35] LouisBrunner commented on #94
Yeah, as document in #78, I couldn't get the pure ESM build working. I did forget that this is used by NPM though, so I will revert `main` and keep the changes on another branch for now.

[2022-09-26 11:41] LouisBrunner commented on #93
@Bibletoon Which version of react-dnd are you using?

@szymonkwak  react-dnd v16 is not supported by react-dnd-multi-backend v7 (you should see a peerDependency issue?) so I will tackle this (if not fixed upstream) when I get v8 to build

[2022-09-26 11:41] #94 closed

[2022-09-26 11:42] LouisBrunner commented on #78
Just reverted main so the demo works again, v8 changes are now on the `next` branch for anyone interested.

[2022-09-28 03:59] dobesv commented on #74
We actually have a different use case for knowing the backend, which is we want to have some places where touch is not supported for drag and drop, but others where it is supported.

[2022-09-28 04:42] szymonkwak commented on #93
@LouisBrunner I didn't faced peerDependency issue, it's clear now, thank you for the answer.

[2022-09-28 11:07] LouisBrunner commented on #74
Using `useMultiDrag` (and it's drop equivalent), you can explicitly decide which part can be use to drag with Touch, HTML5, etc

https://github.com/LouisBrunner/dnd-multi-backend/tree/main/packages/react-dnd-multi-backend#usemultidrag

[2022-09-28 13:17] #93 closed

[2022-09-28 17:50] dobesv commented on #74
Nice, thanks!

[2022-09-29 02:34] carlos-movember commented on #78
is this `next` branch going to be merged to main for a new version? I'm using dnd with this library in a project that recently got switched to nextjs and it's failing to compile due to the Common JS module, or could `version` be added to the `package.json` file so that a specific branch can be installed with yarn? I could create a PR for it if needed

[2022-11-13 22:32] Hardel-DW opened #96 "Incorrect peer dependency."
Simply updating the peers dependency to version 16 is not necessary.
Currently in version 16.0.1.

warning " > react-dnd-preview@7.1.1" has incorrect peer dependency "react-dnd@13.1.1 - 15.1.2".

[2022-11-30 01:18] nazrinnoorzan opened #98 "usePreview hook can only use display in React Typescript"
Based on the documentation here https://www.npmjs.com/package/react-dnd-preview, it seems like I only can call display properties from usePreview hook.

![dnd-preview-error](https://user-images.githubusercontent.com/80166613/204683949-ca608883-aec3-4627-b5c5-b62b2dcedf02.png)

Using React 18 with react-dnd-preview v7.1.1